<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ trans('global.app.name') }}</title>

    <link rel="icon" sizes="192x192" href="/img/logo192.png" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <link rel="manifest" href="/json/manifest.json">

    <link href="/img/logo152.png" sizes="152x152" rel="apple-touch-icon-precomposed">
    <link href="/img/logo144.png" sizes="144x144" rel="apple-touch-icon-precomposed">
    <link href="/img/logo76.png" sizes="76x76" rel="apple-touch-icon-precomposed">
    <link href="/img/logo72.png" sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="/img/logo120.png" sizes="120x120" rel="apple-touch-icon-precomposed">
    <link href="/img/logo114.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="/img/logo57.png" sizes="57x57" rel="apple-touch-icon-precomposed">

    <link rel="apple-touch-startup-image" href="/img/splash1280.png"/>
    <link rel="apple-touch-startup-image" sizes="1242x2208" href="/img/splash1242.png" />
    <link rel="apple-touch-startup-image" sizes="750x1334" href="/img/splash750.png" />
    <link rel="apple-touch-startup-image" sizes="640x1136" href="/img/splash640.png" />
    <link rel="apple-touch-startup-image" sizes="960x1600" href="/img/splash960.png" />
    <link rel="apple-touch-startup-image" sizes="720x1280" href="/img/splash720.png" />
    <link rel="apple-touch-startup-image" sizes="480x800" href="/img/splash480.png" />
    <link rel="apple-touch-startup-image" sizes="320x480" href="/img/splash320.png" />
    <link rel="apple-touch-startup-image" sizes="200x320" href="/img/splash200.png" />

    <meta name="viewport" content="width=device-width" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

</head>

<body style="background-color: #e34b4b">

<div class="container text-center">

    <div class="row" style="margin-top: 150px">
        <img src="/img/logo114.png" alt="Connexion" style="width: 90px"/><br />
        <a href="{{ route('social.redirect', {'provider' : 'google'}) }}" class="btn btn-danger">{{ trans('global.lbl.login') }}</a>
    </div>
</div>

</body>
</html>


